<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h2>{{ title }}!</h2>
    <em>created by {{ author }}</em>
    <br /><br />
    <div>
      <a href="{{ home_url }}">Home</a>
    </div>
    <br />
    <img src="assets/images/horizon2.jpg" />
  </body>
</html>